*{
    box-sizing: border-box;
}

#wrapper {
    background-image: url(coffee-beans.jpg);
    background-size: cover;
    color: white;
}

#coffees {
    height: 410px;
}

#forms {
    background-color: black;
    font-family: 'Permanent Marker', cursive;
}

#companyName {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}

#image-text {
    font-size: 80px;
}

#map-canvas{
    height:400px;
}

.parallax {
    background-image: url(coffee-people.jpeg);
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.coffee {
    background-color: black;
    height: 100px;
    font-family: 'Bungee Inline', cursive;
}
